.home-containers-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 450px;
    height: 550px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.87);
}

.home-form {
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 500px;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    position: relative;
    border-left: 6px solid rgba(231, 7, 74, 1);
    padding-left: 20px;
}

.home-text {
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 22px;
    text-align: left;
}

.home-front1-containers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.home-front1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 50px;
    background-color: white;
    border-radius: 80px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.87);
    margin-right: 50px;
    margin-left: 50px;
}

.home-front2-containers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.home-front2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 50px;
    background-color: white;
    border-radius: 80px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.87);
    margin-right: 80px;
    margin-left: 80px;
}

.home-welcome-containers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.home-welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 80px;
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);*/
    background-color: rgba(255, 255, 255, 0);
    margin-right: 80px;
    margin-left: 80px;
}

.home-welcome-form {
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    /*max-width: 500px;*/
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    position: relative;
    padding-left: 20px;
}

.home-welcome-first-text {
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 68px;
    font-weight: bold;
    text-align: center;
}

.home-welcome-text {
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}