.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 7cm;
    height: 100%;
    background-color: rgba(58, 83, 206, 0.80);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 3cm;
    z-index: 1000;
    /*border-left: 1px solid #888;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    list-style: none;
    text-align: left;
}

.sidebar-link {
    position: fixed;
    text-decoration: none;
    color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.sidebar ul {
    margin: 15px;
    padding: 0;
    list-style: none;
}

.sidebar-link:hover {
    color: rgba(161, 171, 190, 0.99);
    font-size: 18px;
}

.button-style {
    margin: 0 30px;
}

.button-style-sidebar {
    display: inline-block;
    width: 5.5cm;
    padding: 7px 12px;
    background-color: rgba(58, 83, 206, 0.80);
    color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.button-style-sidebar:hover {
    background-color: #4a90e2;
}

.container-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 40px;
}

.sidebar-admin {
    position: fixed;
    right: 0;
    top: 0;
    width: 7cm;
    height: 100%;
    background-color: rgba(58, 83, 206, 0.80);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 3cm;
    z-index: 1000;
    /*border-left: 1px solid #888;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    list-style: none;
    text-align: left;
}

.sidebar-admin-link {
    position: fixed;
    text-decoration: none;
    color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.sidebar-admin ul {
    margin: 15px;
    padding: 0;
    list-style: none;
}

.sidebar-admin-link:hover {
    color: rgba(161, 171, 190, 0.99);
    font-size: 18px;
}