.table {
    display: table;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 25%;
}

.return-button {
    display: inline-block;
    border: 1px solid #4CAF50;
    background-color: #f9f9f9;
    color: black;
    padding: 0 5px;
    text-decoration: none;
}

.additional-buttons-new {
    text-align: center;
    margin-top: 2px;
}

.additional-buttons-update-reply {
    text-align: left;
    margin-top: 4px;
}

.additional-buttons-update-reply .button {
    font-family: "HK Grotesk", Arial, sans-serif;
    background-color: #4CAF50;
    /*border: 1px solid #333;*/
    /*color: #333;*/
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.additional-buttons .button {
    font-family: "HK Grotesk", Arial, sans-serif;
    background-color: #FFc862;
    border: 1px solid #333;
    color: #333;
    text-align: center;
    padding: 2px 0;
    width: 2.5cm;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.additional-buttons-new .button {
    font-family: "HK Grotesk", Arial, sans-serif;
    background-color: #4CAF50;
    /*border: 1px solid #333;*/
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 2.8cm;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.users-title a {
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-right: 57px;
}

.non-bold-link {
    font-family: "HK Grotesk", Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.non-bold-link:hover {
    color: #2263b6;
}

.font-about-us{
    font-family: "HK Grotesk", Arial, sans-serif;
    margin-left: 4cm;
    margin-right: 4cm;
    font-size: 18px;
}

.counters{
    font-family: "HK Grotesk", Arial, sans-serif;
    text-align: center;
    font-size: 11px;
}

.active {
    text-decoration: none;
    font-size: 18px;
    color: #007bff;
    padding: 1px 7px;
    position: relative;
    border-bottom: 2px solid red;
}
    /**/

h1.lead {
    text-align: center;
    color: red;
    font-style: italic;
    text-decoration: underline solid red 2px;
}

.form {
    font-family: "HK Grotesk", Arial, sans-serif;
}

.button-animation {
    transition: transform 0.2s ease-in-out;
}

.button-animation:hover {
    transform: scale(1.1);
}

.link-animation {
    text-decoration: none;
    font-size: 18px;
    color: #007bff;
    padding: 3px 7px;
    position: relative;
    border-radius: 8px;
}

.link-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.link-animation:hover::after {
    transform: scaleX(1);
}

.button span {
    display: inline-block;
    vertical-align: middle;
}

.thumb-button {
     border: none;
     background: transparent;
     font-size: 18px;
     color: #007bff;
     cursor: pointer;
}

.thumb-button.not-active{
    opacity: 0.5;
}

.likes-margin{
    margin-right: 30px;
}

.comment-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #888;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    table-layout: fixed;
}

.comment-table td {
    padding: 10px;
    border: 1px solid #888;
    background-color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
}

.comment-table td:first-child {
    width: 3cm;
}

.user-info {
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
}

.username {
    margin: 0;
    font-weight: bold;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    width: 3cm;
    overflow: hidden;
}

.timestamp {
    margin: 0;
    color: #666;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 14px;
}

.content {
    margin: 0;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.content-post {
    margin: 0;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 20px;
}

.content-title-post {
    margin: 0;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.content-post-likes {
    margin: 0;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 14px;
}

.post-padding {
    margin-bottom: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    padding-top: 1px;
}

.in-response {
    font-size: 18px;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.search-container form {
    margin-right: 4px;
}

.font-text {
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 14px;
}

.post-table-new {
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid #888;*/
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    table-layout: fixed;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    border-radius: 40px;
}

.post-table-new td {
    padding: 7px;
    /*border: 1px solid #888;*/
    background-color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    border-radius: 40px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);*/
}

.sort-button {
    cursor: pointer;
}

.username-post {
    font-weight: bold;
}

.sort-button.asc::before {
    content: "▲";
}

.sort-button.desc::before {
    content: "▼";
}

.sort-button:hover {
    color: #000; /* Change the color on hover */
}

.sort-button.active {
    color: #000;
    font-weight: bold;
}


.additional-buttons-sort {
    color: black;
    text-decoration: none;
    width: 1.4cm;
}

.table-new {
    display: table;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    table-layout: fixed;
}

.table-new td:first-child {
    width: 22.2cm;
}

.post-table-new-r {
    width: 100%;
    /*border-collapse: collapse;*/
    /*border: 1px solid #888;*/
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    table-layout: fixed;
    /*font-weight: bold;*/
}

.post-table-new-r td {
    padding: 5px;
    /*border: 1px solid #888;*/
    /*background-color: white;*/
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
}

.post-table-new-r td:first-child {
    width: 21.8cm;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 40px;
}

.registration-form {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 500px;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.87);
    text-align: center;
}

.container-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.3cm;
    margin-bottom: -2.7cm;
    /*min-height: 20vh;*/
    padding: 20px;
}
.registration-form-images {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 600px;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.87);
    text-align: center;
    /*!*margin-bottom: -10cm;*!*/
    /*margin-top: 0cm;*/
}

.registration-form-images-all {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 600px;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.87);
    text-align: center;
    /*margin-bottom: -10cm;*/
    margin-top: 0cm;
}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 7px 16px;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: rgba(58, 83, 206, 0.80);
    color: white;
}

.inactive {
    pointer-events: none;
    opacity: 0.6;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.blocked-cell {
    background-color: rgba(217, 160, 168, 0.63);
    font-size: 16px;
    padding: 2px;
    font-family: "HK Grotesk", Arial, sans-serif;
    text-align: center;
    border: 1px solid #888;
    border-radius: 40px;
    font-weight: bold;
}

.active-cell {
    background-color: rgba(177, 251, 152, 0.80);
    font-size: 16px;
    padding: 2px;
    font-family: "HK Grotesk", Arial, sans-serif;
    text-align: center;
    border: 1px solid #888;
    border-radius: 40px;
    font-weight: bold;
}

.button-style {
    display: inline-block;
    width: 2.5cm;
    padding: 7px 12px;
    background-color: rgba(58, 83, 206, 0.80);
    color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
}

.button-style:hover {
    background-color: #4a90e2;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.or-text {
    margin: 0 20px;
}

.placeholder-style {
    display: inline-block;
    padding: 7px 12px;
    background-color: white;
    color: #666666;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #888;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.placeholder-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-style-login-register {
    display: inline-block;
    padding: 7px 12px;
    background-color: white;
    color: #666666;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #888;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.input-container {
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 10px;*/
    font-family: "HK Grotesk", Arial, sans-serif;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

.input-container-register {
    width: 310px;
    height: 80px;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 10px;*/
    font-family: "HK Grotesk", Arial, sans-serif;
    margin-left: 2.5cm;
    margin-right: 2.5cm;
}

.error {
    color: #c53859;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.button-style-submit {
    display: inline-block;
    width: 3.2cm;
    padding: 7px 12px;
    background-color: rgba(58, 83, 206, 0.80);
    color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
}

.button-style-submit:hover {
    background-color: #4a90e2;
}

.no-users {
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 22px;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.3cm;
    margin-bottom: -2.7cm;
    /*min-height: 20vh;*/
    padding: 20px;
}
.registration-form-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 600px;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.87);
    text-align: center;
    /*!*margin-bottom: -10cm;*!*/
    /*margin-top: 0cm;*/
}

.form-row {
    display: flex;
    align-items: center;
}

.form-row label {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.form-row input,
.form-row select {
    flex: 2;
}

.error {
    color: red;
}