.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.3cm;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1001;
    border-bottom: 1px solid #888;
    /*padding-bottom: 1px;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    text-align: right;
}

.logo {
    position: absolute;
    /*top: 0px;*/
    left: 2%;
    width: 185px;
    height: 185px;
    background: url('./images/Logo6.png') no-repeat center center;
    background-size: contain;
}

.navigation {
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 54px;
    left: 70%;
}

.navigation-container-buttons {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}

.navigation-container-admin-button {
    left: 64%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}

.navigation-admin-button {
    display: inline-block;
    width: 2.5cm;
    padding: 7px 12px;
    background-color: rgba(231, 7, 74, 0.8);
    color: white;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    gap: 30cm;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.navigation-admin-button:hover {
    background-color: #4a90e2;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.nav-link:hover {
    color: #2374ff;
    font-size: 18px;
}

.navigation-user-profile {
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    left: 86.2%;
}

.profile-name-style {
    position: fixed;
    text-decoration: none;
    color: black;
    font-family: "HK Grotesk", Arial, sans-serif;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
    margin-top: -12px;
}

.small-image {
    position: absolute;
    top: -30px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}