<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
    <link href="../static/home.css" th:href="@{/home.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation">
        <div class="navigation-container-admin-button">
            <li><a th:if="${isAdmin and isAuthenticated}" href="/verification" class="navigation-admin-button">Admin</a></li>
        </div>
        <div class="navigation-container-buttons">
            <li><a href="/home" class="nav-link" style="color: #2374ff">Home</a></li>
            <li><a href="/wallets" class="nav-link">My wallet</a></li>
            <li><a href="/auth/register" class="nav-link">Register</a></li>
            <li><a href="/auth/login" class="nav-link">Log in</a></li>
        </div>
    </ul>
</div>
<div class="background-image-about-us-admin"></div>
<div class="container-with-background">
    <div style="height: 100px"></div>
    <div class="home-front1-containers-wrapper">
        <div class="home-front1-container">
            <i class="fas fa-credit-card fa-3x"></i>
        </div>
        <div style="width: 80px"></div>
        <div class="home-front1-container">
            <i class="fas fa-lock fa-3x"></i>
        </div>
    </div>
    <div class="home-front2-containers-wrapper">
        <div class="home-front2-container">
            <i class="fas fa-wallet fa-3x"></i>
        </div>
        <div style="width: 760px"></div>
        <div class="home-front2-container">
            <i class="fas fa-users fa-3x"></i>
        </div>
    </div>
    <div style="height: 10px"></div>
    <div class="home-welcome-containers-wrapper">
        <div class="home-welcome-container">
            <div class="home-welcome-form">
                <div>
                    <p class="home-welcome-first-text">Welcome to VWallet!</p>
                    <p class="home-welcome-text">Everything Related to Online Money Transfer under One Roof!</p>
                    <p class="home-welcome-text">Explore Our Services below!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-front2-containers-wrapper">
        <div class="home-front2-container">
            <i class="fas fa-dollar-sign fa-3x"></i></i>
        </div>
        <div style="width: 800px"></div>
<!--        <div class="home-front2-container">-->
<!--            <i class="fas fa-piggy-bank fa-4x savings-icon"></i>-->
<!--        </div>-->
        <div class="home-front1-container">
            <i class="fas fa-money-bill-wave fa-4x overdraft-icon"></i>
        </div>
    </div>
    <div style="height: 10px"></div>
    <div class="home-front1-containers-wrapper">
<!--        <div class="home-front1-container">-->
<!--            <i class="fas fa-money-bill-wave fa-4x overdraft-icon"></i>-->
<!--        </div>-->
<!--        <div style="width: 80px"></div>-->
        <div class="home-front1-container">
            <i class="fas fa-mobile-alt fa-4x"></i>
        </div>
    </div>
    <div style="height: 300px"></div>
    <div class="home-containers-wrapper">
        <div class="home-container">
            <i class="fas fa-wallet fa-4x"></i>
            <div class="home-form">
                <div>
                    <p class="home-text">Experience the Power of Multiple and Joint Virtual Wallets - Create Shared
                        Multiple Wallets That Multiple Users Can Access.</p>
                    <p class="home-text">As the Wallet's Creator, You Hold the Key to Grant or Revoke Access for Others
                        to Spend or Add Funds. </p>
                    <p class="home-text">For Users with Access to Multiple Wallets, Easily Choose Which One to Utilize,
                        Giving You Ultimate Control and Flexibility.</p>
                </div>
            </div>
        </div>
        <div style="width: 20px"></div>
        <div class="home-container">
            <i class="fas fa-credit-card fa-4x"></i>
            <div class="home-form">
                <div>
                    <p class="home-text">Seamlessly Manage Your Finances by Registering Multiple Credit and Debit
                        Cards.</p>
                    <p class="home-text">Top Up Your Wallet, to Fund Your Transactions, Simply Selecting from Your
                        Linked Bank Accounts.</p>
                    <p class="home-text">Enjoy the Freedom of Choice and Effortless Financial Control.</p>
                </div>
            </div>
        </div>
        <div style="width: 20px"></div>
        <div class="home-container">
            <i class="fas fa-lock fa-4x"></i>
            <div class="home-form">
                <div>
                    <p class="home-text">With our Advanced Security Measures, Your Wallet and Transactions are
                        Safeguarded Against any Unauthorized Access or Fraudulent Activities.</p>
                    <p class="home-text">You Can Rest Easy Knowing that Your Funds and Personal Information are Fully
                        Protected as You Manage Your Finances and Conduct Transactions in a Secure Environment.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 300px"></div>
    <div class="home-containers-wrapper">
        <div class="home-container">
            <i class="fas fa-users fa-4x"></i>
            <div class="home-form">
                <div>
                    <p class="home-text">Invite a Friend to Join Our Virtual Wallet Family and Earn Together.</p>
                    <p class="home-text">When Your Friend Joins, You Both Receive a Bonus of 25 Euros.</p>
                    <p class="home-text">Sharing the Benefits Has Never Been More Rewarding!</p>
                </div>
            </div>
        </div>
        <div style="width: 20px"></div>
        <div class="home-container">
            <i class="fas fa-dollar-sign fa-4x"></i></i>
            <div class="home-form">
                <div>
                    <p class="home-text">Unlock Global Financial Freedom!</p>
                    <p class="home-text">Tailor your Virtual Wallet to Your Preferences by Selecting Your Preferred
                        Currency.</p>
                    <p class="home-text">Enjoy Hassle-free International Transactions as our System Effortlessly
                        Displays Currency Exchange Rates for Transactions Involving Different Currencies.</p>
                </div>
            </div>
        </div>
        <div style="width: 20px"></div>
        <div class="home-container">
            <i class="fas fa-mobile-alt fa-4x"></i>
            <div class="home-form">
                <div>
                    <p class="home-text">Stay Tuned: Our Virtual Wallet Mobile Application is Coming soon to Enhance
                        your Financial Experience on the Go!</p>
                    <p class="home-text">Seamlessly Manage Your Finances, Make Transactions, and Stay in Control of Your
                        Money, All from the Convenience of Your Mobile Device.</p>
                </div>
            </div>
        </div>
    </div>
<!--    <div style="height: 300px"></div>-->
<!--    <div class="home-containers-wrapper">-->
<!--        <div class="home-container">-->
<!--            <i class="fas fa-piggy-bank fa-4x savings-icon"></i>-->
<!--            <div class="home-form">-->
<!--                <div>-->
<!--                    <p class="home-text">Elevate Your Savings Strategy with Savings Wallets! </p>-->
<!--                    <p class="home-text">Handpick Your Amount, Select a Duration, and Unveil Your Previewed Interest-->
<!--                        Rate.</p>-->
<!--                    <p class="home-text">Dynamic Interest Rates, Rooted in Duration and Amount, Promise Optimal-->
<!--                        Returns.</p>-->
<!--                    <p class="home-text">As Time Matures, Your Wallet Swells Automatically, Enriched With Earned-->
<!--                        Interest.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div style="width: 20px"></div>-->
<!--        <div class="home-container">-->
<!--            <i class="fas fa-money-bill-wave fa-4x overdraft-icon"></i>-->
<!--            <div class="home-form">-->
<!--                <div>-->
<!--                    <p class="home-text">Enable Overdrafts on Your Virtual Wallet to Spend Beyond Your Balance (up 1000-->
<!--                        Euro).</p>-->
<!--                    <p class="home-text">At the Start of Each Month, Interest (8%) is Applied to Your Negative-->
<!--                        Balance.</p>-->
<!--                    <p class="home-text">If Your Virtual Wallet's Balance Remains below Zero for 2 Consecutive Months,-->
<!--                        Your Account will be Temporarily Suspended until Adequate Funds are Added to Cover the Negative-->
<!--                        Balance.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div style="width: 20px"></div>-->
<!--        <div class="home-container">-->
<!--            <i class="fas fa-list-ul fa-4x spending-categories-icon"></i>-->
<!--            <div class="home-form">-->
<!--                <div>-->
<!--                    <p class="home-text">Simplified Spending Management Empowering Financial Clarity! </p>-->
<!--                    <p class="home-text">Take Control of Your Spending Categories — Add, Edit, or Delete Categories-->
<!--                        According to Your Evolving Needs.</p>-->
<!--                    <p class="home-text">Dive Deeper into Your Financial Insights.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div style="height: 100px"></div>
</div>
</body>
</html>

