<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Card</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image" />
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image" />
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
<!--        <div style="height: 30px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Joint wallets</a></li>-->
<!--        <div style="height: 30px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar" style="background-color: #4a90e2">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar">Transactions</a></li>
<!--        <div style="height: 30px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Contact list</a></li>-->
<!--        <div style="height: 30px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a friend</a></li>
<!--        <div style="height: 30px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>
<div class="background-image-cards"></div>
<div class="container-with-background-profile">
    <div style="height: 120px"></div>
    <div class="buttons-container"></div>
    <div class="container">
        <div class="registration-form">
            <h2>New Card</h2>
            <form action="#" th:action="@{${#httpServletRequest.requestURI}}" th:object="${card}" method="post">

                <label th:text="#{card.label.number}">Number</label>
                <br>
                <input type="text" th:field="*{number}">
                <label class="error" th:errors="*{number}">Number error placeholder</label>
                <br><br>

                <div style="height: 15px"></div>

                <label th:text="#{card.label.CCV}">CVV</label>
                <br>
                <input type="text" th:field="*{check_number}">
                <label class="error" th:errors="*{check_number}">CVV error placeholder</label>
                <br><br>

                <div style="height: 15px"></div>

                <div class="button-container">
                <select th:field="*{month}" class="placeholder-style">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <label class="error" th:errors="*{month}">Month error placeholder</label>

                <div style="width: 25px"></div>

                <select th:field="*{year}" class="placeholder-style">
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                </select>
                <label class="error" th:errors="*{year}">Year error placeholder</label>
                    <div style="width: 25px"></div>
                <select th:field="*{type}" class="placeholder-style">
                    <option value="CREDIT">Credit</option>
                    <option value="DEBIT">Debit</option>
                </select>
                </div>
                <div style="height: 40px"></div>
                <div class="button-container">
                <input type="submit" class="button-style-submit" value="Add">
                </div>
            </form>
        </div>
    </div>
    <div style="height: 500px"></div>
</div>
</body>
</html>