<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All images</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li><a href="/users/{id}" class="nav-link"></a></li>
        <!--    <li><a th:if="${isAuthenticated}" href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class=profile-name-style th:text="${loggedInUser.getName()}"></a></li>-->
    </ul>
</div>
<div class="sidebar-admin">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="/users" class="button-style-sidebar">Users</a></li>
        <div style="height: 35px"></div>
        <li><a href="/transactions/admin" class="button-style-sidebar">Transactions</a></li>
        <div style="height: 35px"></div>
        <li><a href="/verification" class="button-style-sidebar" style="background-color: #4a90e2">Verification</a></li>
    </ul>
</div>
<div class="background-image-identity"></div>
<div class="container-with-background-profile">
    <div th:if="${images == null || images.isEmpty()}">
        <h2 class="no-users" th:text="#{image.title.empty}">No Image</h2>
    </div>
    <div th:unless="${images == null || images.isEmpty()}">
        <!--  <h2>All Blocked Images</h2>-->
        <ul>
            <div th:each="image : ${images}">
                <div class="container-images">
                    <div class="registration-form-images-all">
                        <h3> User: <span th:text="${image.getUser().getUsername()}"> User </span></h3>
                        <h3> Name: <span th:text="${image.getUser().getName()}"> Name </span></h3>
                        <a th:href="@{/verification/{id}(id=${image.id})}" th:text="${image.getImageUrl()}"></a>
                        <!--      <h3> Image ID: <span th:text="${image.getId()}"> Id </span></h3>-->
                        <!--      <h3> Blocked: <span th:text="${image.isBlocked()}"> Block </span></h3>-->
                        <!--      <h3> Type: <span th:text="${image.getImageType()}"> Type </span></h3>-->
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div style="height: 1000px"></div>
</div>
</body>
</html>