<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Transactions</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li><a href="/users/{id}" class="nav-link"></a></li>
    </ul>
</div>

<div class="sidebar-admin">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="/users" class="button-style-sidebar">Users</a></li>
        <div style="height: 35px"></div>
        <li><a href="/transactions/admin" class="button-style-sidebar"
               style="background-color: #4a90e2">Transactions</a></li>
        <div style="height: 35px"></div>
        <li><a href="/verification" class="button-style-sidebar">Verification</a></li>
    </ul>
</div>

<div class="background-image-about-us-admin"></div>

<div class="container-with-background-profile">
    <div style="height: 132px"></div>
    <br>
    <table class="table-new">
        <div class="header">
            <tbody>
            <tr>
                <td>
                    <div class="cell">
                        <div class="search-container">
                            <form action="/transactions/admin" method="get" th:object="${filter}">
                                <input type="text" placeholder="Sender" th:field="*{sender}"
                                       size="30">
                                <input type="text" placeholder="Recipient" th:field="*{recipient}"
                                       size="30">
                                <input type="number" placeholder="Min Amount" min="0" th:field="*{minAmount}"/>
                                <input type="number" placeholder="Max Amount" min="0" th:field="*{maxAmount}"/>

                                <input type="date" placeholder="Min Date" th:field="*{minDate}"/>
                                <input type="date" placeholder="Max Date" th:field="*{maxDate}"/>

                                <select th:field="*{type}">
                                    <option value="">Any Type</option>
                                    <option th:each="transactionType : ${T(com.example.virtualwallet.models.emus.TransactionType).values()}"
                                            th:value="${transactionType}"
                                            th:text="${transactionType.toString()}"></option>
                                </select>

                                <select th:field="*{status}">
                                    <option value="">Any Status</option>
                                    <option th:each="transactionStatus : ${T(com.example.virtualwallet.models.emus.TransactionStatus).values()}"
                                            th:value="${transactionStatus}"
                                            th:text="${transactionStatus.toString()}"></option>
                                </select>

                                <select th:field="*{sortBy}">
                                    <option value="">Default Sort</option>
                                    <option value="amount">Amount</option>
                                    <option value="transaction_date">Date</option>
                                </select>

                                <select th:field="*{sortOrder}">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>

                                <input type="submit" class="button-style" value="Search">
                            </form>
                            <form action="#" th:action="@{/transactions/admin}" method="get">
                                <input type="submit" class="button-style" value="Reset"><a
                                    th:href="@{/transactions/admin}"></a>
                            </form>
                        </div>
                        <div style="height: 20px"></div>
                        <div th:if="${transactions.isEmpty()}">
                            <h2 th:text="#{transactions.name.empty}">No Transactions</h2>
                            <div style="height: 360px"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <div class="row" th:each="currentTransaction : ${transactions}">
        <!--        <div class="table">-->
        <!--            <div class="header">-->
        <!--                <div class="cell">Sender</div>-->
        <!--                <div class="cell">Recipient</div>-->
        <!--                <div class="cell">Amount</div>-->
        <!--                <div class="cell">Transaction Date</div>-->
        <!--                <div class="cell">Type</div>-->
        <!--                <div class="cell">Status</div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="cell">-->
        <table class="post-table-new">
            <tbody>
            <tr>
                <td>
                    <div class="rounded-cell">
                        <a class="non-bold-link" style="margin-left: 0.5cm"
                           th:href="@{/users/{id}(id=${currentTransaction.sender.creator.id})}"
                           th:text="${currentTransaction.sender.creator.name}"></a>
                    </div>
                </td>
                <td>
                    <div class="rounded-cell">
                        <a class="non-bold-link" style="margin-left: 0.5cm"
                           th:href="@{/users/{id}(id=${currentTransaction.recipient.creator.id})}"
                           th:text="${currentTransaction.recipient.creator.name}"></a>
                    </div>
                </td>
                <td>
                    <div class="rounded-cell" style="margin-left: 0.5cm" th:text="${currentTransaction.amount}"></div>
                </td>
                </td>
                <td>
                    <div class="rounded-cell" style="margin-left: 0.5cm" th:text="${currentTransaction.date}"></div>
                </td>
                <td>
                    <div th:classappend="${currentTransaction.status.toString() == 'Completed' ? 'active-cell' : 'blocked-cell'}">
                        <span th:text="${currentTransaction.status.toString() == 'Completed' ? 'Completed' : 'Pending'}"></span>
                    </div>
                </td>
            </tr>
            <tbody>
        </table>
    </div>
</div>
<table th:unless="${transactions.isEmpty()}"></table>
<div style="height: 1px"></div>
</div>
<div class="pagination-container" th:if="${not transactions.isEmpty}">
    <div class="pagination">
        <a th:href="@{/transactions(page=${currentPage - 1}, query=${query})}" th:classappend="${prevButtonClass}"
           class="pagination-link">&laquo;</a>
        <th:block th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/transactions(page=${pageNumber}, query=${query})}"
               th:classappend="${pageNumber == currentPage} ? 'active' : ''"
               class="pagination-link">
                <span th:text="${pageNumber}">1</span>
            </a>
        </th:block>
        <a th:href="@{/transactions(page=${currentPage + 1}, query=${query})}" th:classappend="${nextButtonClass}"
           class="pagination-link">&raquo;</a>
    </div>
</div>
<div style="height: 600px"></div>
</div>
</div>
</body>
</html>