<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li><a href="/users/{id}" class="nav-link"></a></li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="/users" class="button-style-sidebar" style="background-color: #4a90e2">Users</a></li>
        <div style="height: 35px"></div>
        <li><a href="/transactions/admin" class="button-style-sidebar">Transactions</a></li>
        <div style="height: 35px"></div>
        <li><a href="/verification" class="button-style-sidebar">Verification</a></li>
    </ul>
</div>
<div class="background-image-about-us-admin"></div>
<div class="container-with-background-profile">
    <div style="height: 180px"></div>
    <br>
    <table class="table-new">
        <div class="header">
            <tbody>
            <tr>
                <td>
                    <div class="rounded-cell">
                        <div class="search-container">
                            <form action="#" th:action="@{${#httpServletRequest.requestURI}}"
                                  th:object="${filter}" method="get">
                                <input class="placeholder-style" style="margin-right: 0cm" type="text"
                                       placeholder="Username, Name, Email or Phone" th:field="*{searchTerm}"
                                       size="35">
                                <input type="submit" class="button-style-submit"
                                       value="Search">
                            </form>
                            <form action="#" th:action="@{/users}" method="get">
                                <input type="submit" class="button-style-submit"
                                       value="Reset"><a
                                    th:href="@{/users}"></a>
                            </form>
                        </div>
                        <div style="height: 20px"></div>
                        <div th:if="${users.isEmpty()}">
                            <h2 class="no-users" th:text="#{users.name.empty}">No Users</h2>
                            <div style="height: 360px"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <div class="row" th:each="user, rowStatus : ${users}">
        <table class="post-table-new">
            <tbody>
            <tr>
                <td>
                    <div class="rounded-cell">
                        <a class="non-bold-link" style="margin-left: 0.5cm"
                           th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.username}">User</a>
                    </div>
                </td>
                <td>
                    <div class="rounded-cell" style="margin-left: 0.5cm" th:text="${user.name}">User</div>
                </td>
                <td>
                    <div class="rounded-cell" style="margin-left: 0.5cm" th:text="${user.email}">User</div>
                </td>
                <td>
                    <div class="rounded-cell" style="margin-left: 0.5cm" th:text="${user.phone}">User</div>
                </td>
                <td>
                    <div th:classappend="${user.isBlocked() ? 'blocked-cell' : 'active-cell'}">
                        <span th:text="${user.isBlocked() ? 'Blocked' : 'Active'}"></span>
                    </div>
                </td>
<!--                <td>-->
<!--                    <div th:classappend="${user.isVerificated() ?  'active-cell' : 'blocked-cell'}">-->
<!--                        <span th:text="${user.isVerificated() ? 'Verified' : 'Pending'}"></span>-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
        <table th:unless="${users.isEmpty()}"></table>
        <div style="height: 1px"></div>
    </div>
    <div class="pagination-container" th:if="${not users.isEmpty}">
        <div class="pagination">
            <a th:href="@{/users(page=${currentPage - 1}, query=${query})}" th:classappend="${prevButtonClass}"
               class="pagination-link">&laquo;</a>

            <th:block th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/users(page=${pageNumber}, query=${query})}"
                   th:classappend="${pageNumber == currentPage} ? 'active' : ''"
                   class="pagination-link">
                    <span th:text="${pageNumber}">1</span>
                </a>
            </th:block>
            <a th:href="@{/users(page=${currentPage + 1}, query=${query})}" th:classappend="${nextButtonClass}"
               class="pagination-link">&raquo;</a>
        </div>
    </div>
    <div style="height: 600px"></div>
</div>
</div>
</body>
</html>














