<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li><a href="/users/{id}" class="nav-link">Picture and username</a></li>
    </ul>
</div>
<div class="sidebar-admin">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 30px"></div>
        <li><a href="/users" class="button-style-sidebar">Users</a></li>
        <div style="height: 30px"></div>
        <li><a href="/transactions/admin" class="button-style-sidebar">Transactions</a></li>
        <div style="height: 30px"></div>
        <li><a href="/verification" class="button-style-sidebar" style="background-color: #4a90e2">Verification</a></li>
    </ul>
</div>
<div class="background-image-about-us-admin"></div>
<div class="container-with-background-profile">
            <div style="height: 200px"></div>
            <br>
                <table class="table-new">
                    <div class="header">
                        <tbody>
                        <tr>
                        <td>
                        <div class="cell">
                            <div class="search-container">
                                <form action="#" th:action="@{${#httpServletRequest.requestURI}}" th:object="${filter}" method="get">
                                    <input type="text" placeholder="username, name, email or phone" th:field="*{searchTerm}"size="30">
                                    <input type="submit" value="Search">
                                </form>

                                <form action="#" th:action="@{/users}" method="get">
                                    <input type="submit" value="Remove filter"><a th:href="@{/users}"></a>
                                </form>
                            </div>
                            <div style="height: 20px"></div>
                            <div th:if="${transactions.isEmpty()}">
                                <h2 th:text="#{users.name.empty}">No Users</h2>
                                <div style="height: 360px"></div>
                            </div>
                        </div>
                        </td>
                        </tr>
                        </tbody>
                    </div>
                </table>

            <div class="row" th:each="user, rowStatus : ${users}">
                        <table class="post-table-new">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="cell">
                                    <a class="non-bold-link" style="font-size: 18px;" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.username}">User</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell" style="font-size: 14px;" th:text="${user.name}">0</div>
                                </td>
                                <td>
                                    <div class="cell" style="font-size: 14px;" th:text="${user.email}">0</div>
                                </td>
                                <td>
                                    <div class="cell" style="font-size: 14px;" th:text="${user.phone}">0</div>
                                </td>
                                <td>
                                    <div th:classappend="${user.isBlocked() ? 'blocked-cell' : 'active-cell'}">
                                        <span th:text="${user.isBlocked() ? 'Blocked' : 'Active'}"></span>
                                    </div>
                                </td>
                            </tr>
                    </tbody>
            </table>
                        <table th:unless="${users.isEmpty()}"></table>
            <div style="height: 1px"></div>
                    </div>
            <div class="pagination-container" th:if="${not users.isEmpty}">
                <div class="pagination">
                    <a th:href="@{/users(page=${currentPage - 1}, query=${query})}" th:classappend="${prevButtonClass}" class="pagination-link">&laquo;</a>

                    <th:block th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/users(page=${pageNumber}, query=${query})}"
                           th:classappend="${pageNumber == currentPage} ? 'active' : ''"
                           class="pagination-link">
                            <span th:text="${pageNumber}">1</span>
                        </a>
                    </th:block>
                    <a th:href="@{/users(page=${currentPage + 1}, query=${query})}" th:classappend="${nextButtonClass}" class="pagination-link">&raquo;</a>
                </div>

            </div>
    <div style="height: 600px"></div>
    </div>
</div>
</body>
</html>














