<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
  <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
  <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
  <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>


</body>
</html>