<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var maskedCardNumbers = document.querySelectorAll(".masked-card-number");
            maskedCardNumbers.forEach(function (element) {
                var cardNumber = element.getAttribute("data-card-number"); // Get the card number from a data attribute
                var maskedNumber = cardNumber.substring(0, 12).replace(/\d/g, "*") + cardNumber.substring(12); // Replace the first 12 digits with asterisks
                element.textContent = maskedNumber; // Set the masked card number as the text content
            });
        });
    </script>
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">

            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image"/>
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image"/>

            <a th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}"
               class="profile-name-style">user</a>
        </li>
    </ul>
</div>

<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My
            Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Joint wallets</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar" style="background-color: #4a90e2">Cards</a></li>
        <div style="height: 35px"></div>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Contact list</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Spending's</a></li>-->
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar">Transactions</a></li>

        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a friend</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>
<div class="background-image-cards"></div>
<div class="container-with-background-profile">
    <div style="height: 110px"></div>
    <div class="cards-details">
        <!--        <div style="margin-top: -2cm"></div>-->
        <div class="container-card">
            <div class="registration-form-card">
                <h3> Number >>>>> <span class="cards-content" th:text="${card.getNumber()}">Number</span></h3>
                <h3> CVV >>>>> <span class="cards-user" th:text="${card.getCheck_number()}"> CVV </span></h3>
                <h3> Expiration date >>>>>
                    <span th:text="${card.getMonth()}">Expiration date </span>
                    <span> / </span>
                    <span th:text="${card.getYear()}">Expiration date </span>
                </h3>
                <h3> Type >>>>> <span th:text="${card.getType()}"> Type </span></h3>
                <div style="height: 30px"></div>
            <form th:action="@{/cards/{id}/{walletId}/topUp(id=${card.getCard_id()})}" method="get">
                <input class="placeholder-style" type="number" name="amount" placeholder="Enter Amount">
                <select class="placeholder-style" name="walletId">
                    <option th:each="wallet : ${wallets}" th:value="${wallet.getWallet_id()}"
                            class="placeholder-style" th:text="${wallet.getNumber()}"></option>
                </select>
                <button type="submit" class="button-style-submit">Top Up</button>
            </form>
                <div style="height: 30px"></div>
            <form th:action="@{/cards/{id}/{walletId}/withdraw(id=${card.getCard_id()})}" method="get">
                <input class="placeholder-style" type="number" name="amount" placeholder="Enter Amount">
                <select class="placeholder-style" name="walletId">
                    <option class="placeholder-style" th:each="wallet : ${wallets}" th:value="${wallet.getWallet_id()}">
                        <span class="placeholder-style" th:text="${wallet.getNumber()}"></span> - Balance: <span
                            class="placeholder-style" th:text="${wallet.getBalance()}"></span>
                    </option>
                </select>
                <button type="submit" class="button-style-submit">Withdraw</button>
            </form>
                <div style="height: 40px"></div>
                <div class="button-container">
            <br>
            <a class="button-style" style="background-color: rgba(231, 7, 74, 0.8);" href="#" th:if="${card.getUser().getUsername().equals(loggedInUser.getUsername())}"
               th:unless="${card.isBlocked()}" th:href="@{/cards/{id}/status/(id=${card.getCard_id()})}">Block</a>
            <a class="button-style" style="background-color: rgba(44, 194, 68, 0.8);" href="#" th:if="${card.getUser().getUsername().equals(loggedInUser.getUsername())}"
               th:unless="${!card.isBlocked()}" th:href="@{/cards/{id}/status/(id=${card.getCard_id()})}">Unblock</a>
            <br>
            <a class="navigation-admin-button" href="#" th:if="${card.getUser().getUsername().equals(loggedInUser.getUsername())}"
               th:href="@{/cards/{id}/delete/(id=${card.getCard_id()})}">Delete</a>
            <br>
            <a th:href="@{/cards}" class="button-style">Back</a>
                </div>
                <div style="height: 40px"></div>
        </div>
        </div>
    </div>
    <div style="height: 800px"></div>
        <div style="margin-top: -2cm"></div>
        <h3 class="post-title">
            Card Number: <span class="masked-card-number" th:attr="data-card-number=${card.getNumber()}"></span>
        </h3>
        <h3> CVV: <span class="cards-user" th:text="${card.getCheck_number()}"> CVV </span></h3>
        <h3> Expiration date:
            <span th:text="${card.getMonth()}">Expiration date </span>
            <span> / </span>
            <span th:text="${card.getYear()}">Expiration date </span>
        </h3>
        <h3> Type: <span th:text="${card.getType()}"> Type </span></h3>
    </div>


    <form th:action="@{/cards/{id}/{walletId}/topUp(id=${card.getCard_id()})}" method="get">

        <input type="number" name="amount" placeholder="Enter Amount">

        <select name="walletId">
            <option th:each="wallet : ${wallets}" th:value="${wallet.getWallet_id()}"
                    th:text="${wallet.getNumber()}"></option>
        </select>

        <button type="submit" class="btn btn-primary">Top Up</button>
    </form>


    <form th:action="@{/cards/{id}/{walletId}/withdraw(id=${card.getCard_id()})}" method="get">
        <input type="number" name="amount" placeholder="Enter Amount">
        <select name="walletId">
            <option th:each="wallet : ${wallets}" th:value="${wallet.getWallet_id()}">
                <span th:text="${wallet.getNumber()}"></span> - Balance: <span th:text="${wallet.getBalance()}"></span>
            </option>
        </select>
        <button type="submit" class="btn btn-primary">Withdraw</button>
    </form>



    <br>
    <a class="return-button" href="#" th:if="${card.getUser().getUsername().equals(loggedInUser.getUsername())}" th:unless="${card.isBlocked()}" th:href="@{/cards/{id}/status/(id=${card.getCard_id()})}">Block wallet</a>
    <a class="return-button" href="#" th:if="${card.getUser().getUsername().equals(loggedInUser.getUsername())}" th:unless="${!card.isBlocked()}" th:href="@{/cards/{id}/status/(id=${card.getCard_id()})}">Unblock wallet</a>
    <br>
    <a class="return-button" href="#" th:if="${card.getUser().getUsername().equals(loggedInUser.getUsername())}" th:href="@{/cards/{id}/delete/(id=${card.getCard_id()})}">Remove cards</a>-->
    <br>
    <a th:href="@{/cards}" class="return-button">Back</a>

</div>
</body>
</html>