<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li><a href="/users/{id}" class="nav-link">Picture and username</a></li>
    </ul>
</div>


<div class="background-image-user-profile"></div>
<div class="container-with-background-profile">
    <div style="height: 180px"></div>
    <div class="container">
        <div class="registration-form-card">
    <div class="buttons-container"></div>

<h1>Account verification successful</h1>

<strong>Your e-mail has been successfully confirmed. You can now <a href="/auth/login">log in</a>.</strong>
        </div>
    </div>
    <div style="height: 1000px"></div>
</div>

</body>
</html>