<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image"/>
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image"/>
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}"
               th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>

<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My
            Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar"
               style="background-color: #4a90e2">Transactions</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a
            friend</a></li>
    </ul>
</div>

<div class="background-image-transactions"></div>
<div class="container-with-background-profile">
    <div style="height: 80px"></div>
    <div class="registration-form-card">
    <h1>Transaction Overview</h1>

    <div>
        <p><strong>Wallet:</strong> <span th:text="${transaction.sender.number}"></span></p>
        <p><strong>Recipient:</strong> <span th:text="${transaction.recipient.number}"></span>(<span th:text="${transaction.recipient.creator.username}"> </span>)</p>
        <p><strong>Amount:</strong> <span th:text="${transaction.amount}"></span> BGN</p>
    </div>

    <form th:action="@{/users/{id}/transactions/{transactionId}/confirm(id=${loggedInUser.getId()}, transactionId=${transaction.id})}"
          th:object="${transaction}" method="post">
        <button class="button-style-submit" type="submit">Confirm</button>
    </form>
    <form th:action="@{/users/{id}/transactions/{transactionId}/cancel(id=${loggedInUser.getId()}, transactionId=${transaction.id})}"
          th:object="${transaction}" method="get">
        <button class="button-style-submit" style="background-color: rgba(231, 7, 74, 0.8);" type="submit">Cancel</button>
    </form>
</div>
</div>
</div>
</body>
</html>