<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>


<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <!--        <li><a th:if="${isAuthenticated}" href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class=profile-name-style th:text="${loggedInUser.getName()}"></a></li>-->
    </ul>
</div>
<div class="sidebar-admin">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="/users" class="button-style-sidebar">Users</a></li>
        <div style="height: 35px"></div>
        <li><a href="/transactions/admin" class="button-style-sidebar">Transactions</a></li>
        <div style="height: 35px"></div>
        <li><a href="/verification" class="button-style-sidebar" style="background-color: #4a90e2">Verification</a></li>
    </ul>
</div>
<div class="background-image-identity"></div>
<div class="container-with-background-profile">
    <div style="height: 180px"></div>
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->

    <div class="container">
        <div class="registration-form-images">
            <div th:if="${image}">
                <img th:src="${image.getImageUrl()}" alt="Image">
<!--                <p>Image ID: <span th:text="${image.id}"></span></p>-->
                <p>User: <span th:text="${image.getUser().getUsername()}"></span></p>
                <p>Name: <span th:text="${image.getUser().getName()}"></span></p>
                <!--    <p> Type : <span th:text="${image.getImageType()}"></span></p>-->


                <a class="return-button button-style" style="background-color: rgba(231, 7, 74, 0.8);" href="#" th:if="${isAdmin}" th:unless="${image.isBlocked()}"
                   th:href="@{/verification/{id}/status/(id=${image.getId()})}">Block</a>
                <a class="return-button button-style" style="background-color: rgba(44, 194, 68, 0.8);" href="#" th:if="${isAdmin}" th:unless="${!image.isBlocked()}"
                   th:href="@{/verification/{id}/status/(id=${image.getId()})}">Unblock</a>
                <a class="button-style" href="#" th:if="${isAdmin}" th:href="@{/verification}" >Back</a>

<!--                <a class="return-button button-style" href="#" th:if="${isAdmin}" th:unless="${image.getUser().isVerificated()}"-->
<!--                   th:href="@{/verification/{id}/verification/(id=${image.getId()})}"> Verify User </a>-->
<!--                <a class="return-button button-style" href="#" th:if="${isAdmin}" th:unless="${!image.getUser().isVerificated()}"-->
<!--                   th:href="@{/verification/{id}/verification/(id=${image.getId()})}"> Unverified User </a>-->
            </div>
        </div>
    </div>


    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <div style="height: 500px"></div>
</div>
</body>
</html>