<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New Transaction</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image" />
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image" />
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My
            Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar"
               style="background-color: #4a90e2">Transactions</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a
            friend</a></li>
    </ul>
</div>
<div class="background-image-transactions"></div>
<div class="container-with-background-profile">
    <div style="height: 80px"></div>

    <div class="container">
    <div class="registration-form-card">
        <h1>Initiate Transaction</h1>

    <form th:action="@{/users/{id}/transactions/new(id=${loggedInUser.getId()})}" th:object="${transactionDto}" method="post">
        <div class="form-row">
            <label for="senderNumber">Choose Wallet:</label>
            <select class="placeholder-style" id="senderNumber" th:field="*{senderNumber}">
                <option th:each="wallet : ${loggedInUser.wallets}" th:value="${wallet.number}" th:text="${wallet.number}"></option>
            </select>
            <span class="error" th:if="${#fields.hasErrors('senderNumber')}" th:errors="*{senderNumber}"></span>
        </div>

        <div class="form-row">
            <label for="recipientNumber">Recipient Number:</label>
            <input class="placeholder-style" type="text" id="recipientNumber" th:field="*{recipientNumber}" />
            <span class="error" th:if="${#fields.hasErrors('recipientNumber')}" th:errors="*{recipientNumber}"></span>
        </div>

        <div class="form-row">
            <label for="amount">Amount:</label>
            <input class="placeholder-style" type="number" id="amount" th:field="*{amount}" />
            <span class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
        </div>

        <div class="button-container">
            <button class="button-style-submit" type="submit">Initiate Transaction</button>
        </div>
        <div class="button-container">
            <button class="button-style-submit" type="submit">Transaction</button>
<!--        <div style="height: 30px"></div>-->
            <a class="button-style" style="background-color: rgba(231, 7, 74, 0.8);" th:href="@{/users/{userId}/transactions(userId=${loggedInUser.getId()})}">Cancel</a>
        </div>
        <div style="height: 30px"></div>
    </form>
        <div th:if="${error}" class="error">
            <p th:text="${error}"></p>
        </div>
    </div>
    </div>
    <div style="height: 1000px"></div>
</div>
    <div style="height: 1000px"></div>
</body>
</html>




