<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/wallets" class="nav-link">My wallet</a></li>
        <li><a href="/auth/register" class="nav-link">Register</a></li>
        <li><a href="/auth/login" class="nav-link" style="color: #2374ff">Log in</a></li>
    </ul>
</div>
<div class="background-image-login"></div>
<div class="container-with-background">
    <div style="height: 180px"></div>
    <div class="buttons-container"></div>
    <div class="container">
        <div class="placeholder-container">
            <div class="registration-form">
                <h2>Please log in</h2>
                <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
                    <div class="input-container">
                        <input class="placeholder-style" placeholder="Username" type="text" th:field="*{username}">
                        <div class="error">
                            <label class="error" th:errors="*{username}">Username error placeholder</label>
                        </div>
                    </div>

                    <div class="input-container">
                        <input class="placeholder-style" placeholder="Password" type="password" th:field="*{password}">
                        <div class="error">
                            <label th:errors="*{password}">Password error placeholder</label>
                        </div>
                    </div>
                    <div class="button-container">
                        <input type="submit" class="button-style-submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="height: 500px"></div>
</div>
</body>
</html>