<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Cards</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var maskedCardNumbers = document.querySelectorAll(".masked-card-number");
            maskedCardNumbers.forEach(function (element) {
                var cardNumber = element.getAttribute("data-card-number"); // Get the card number from a data attribute
                var maskedNumber = cardNumber.substring(0, 12).replace(/\d/g, "*") + cardNumber.substring(12); // Replace the first 12 digits with asterisks
                element.textContent = maskedNumber; // Set the masked card number as the text content
            });
        });
    </script>
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image" />
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image" />
            <a th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}" class="profile-name-style">user</a>
        </li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My
            Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar" style="background-color: #4a90e2">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar">Transactions</a></li>
       <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a friend</a></li>
 </ul>
</div>

<div class="background-image-cards"></div>
<div class="container-with-background-profile">
    <div style="height: 105px"></div>
    <div class="button-container">
        <form th:action="@{/cards/add}" method="get">
            <button type="submit" class="button-style-submit" th:text="#{card.add}">Add Card</button>
        </form>
    </div>
    <div style="margin-top: -3.5cm"></div>


    <br>
    <br>
    <br>
    <br>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 2cm">
            <div th:if="${cards.isEmpty()}" style="text-align: left;">
                <h2 class="no-users" th:text="#{cards.title.empty}">No Cards</h2>
            </div>
        </div>

        <div th:unless="${cards.isEmpty()}" >
<!--            <h1 style="display: flex; justify-content: center; align-items: center;" class="cards-title" th:text="#{cards.mytitle}">My Cards</h1>-->
            <div class="cards-item" th:each="card : ${cards}">
                <div class="container-card">
                    <div class="registration-form-card">
                        <div class="cards-details">
                            <a href="#" th:href="@{/cards/{id}(id=${card.getCard_id()})}" class="post-link">
                                <h3 class="post-title">

                                    <span class="masked-card-number" th:attr="data-card-number=${card.getNumber()}"></span>
                                </h3>
                            </a>
                            <!-- CVV -->
                            <h3> CVV    >>>>>    <span class="cards-user" th:text="${card.getCheck_number()}"> CVV </span></h3>
                            <!-- Expiration date -->
                            <h3> Expiration date    >>>>>
                                <span th:text="${card.getMonth()}">Expiration date </span>
                                <span> / </span>
                                <span th:text="${card.getYear()}">Expiration date </span>
                            </h3>
                            <!-- Type -->
                            <h3> Type    >>>>>    <span th:text="${card.getType()}"> Type </span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- JavaScript to mask the card number -->
        </div>
        <div style="height: 800px"></div>
    </div>
</body>
</html>