<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Wallets</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image" />
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image" />
            <a th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}" class="profile-name-style">user</a>
        </li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar" style="background-color: #4a90e2">Wallets</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Joint wallets</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar">Transactions</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Contact list</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a friend</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>
<div class="background-image-wallets"></div>
<div class="container-with-background-profile">
<div style="height: 105px"></div>
    <div class="button-container">
        <form th:action="@{/wallets}" method="post">
            <button type="submit" class="button-style-submit" th:text="#{wallet.create}">New Wallet</button>
        </form>
        <div style="width: 30px"></div>
        <form th:action="@{/cards}" method="get">
            <button type="submit" class="button-style-submit" th:text="#{card.topup}">Top Up</button>
        </form>
    </div>
    <div style="margin-top: -3.5cm"></div>

    <br><br><br><br>

<div style="display: flex; justify-content: center; align-items: center; margin-top: 2cm">
<div th:if="${wallets.isEmpty()}">
    <h2 class="no-users" th:text="#{wallets.title.empty}">No Wallets</h2>
</div>
</div>
<!--    <div class="container">-->
    <!--        <div class="registration-form">-->
            <div th:unless="${wallets.isEmpty()}">

<!--                <h2 class="cards-title" th:text="#{wallets.mytitle}">My Wallets</h2>-->
                <div class="cards-item" th:each="wallet : ${wallets}">
                    <div class="container-card">
                        <div class="registration-form-card">
                    <div class="cards-details">
                        <a href="#" th:href="@{/wallets/{id}(id=${wallet.getWallet_id()})}" class="post-link">
                            <h3 class="post-title" th:text="${wallet.number}">Number</h3>
                        </a>
                        <h3> Amount >>>>>  <span th:text="${wallet.getBalance()}"> Amount </span></h3>
                        <h3> Currency >>>>> <span th:text="${wallet.getCurrency()}"> Type </span></h3>
                        <h3> Status >>>>> <span th:if="${wallet.isBlocked()}">Blocked</span>
                            <span th:unless="${wallet.isBlocked()}">Active</span></h3>
                        <h3> Holders count >>>>> <span th:text="${wallet.getHolders().size()}"></span></h3>
                        <h3> Holders: </h3>
                        <ul>
                            <li th:each="holder : ${wallet.getHolders()}" th:text="${holder.name}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 800px"></div>
</div>
</body>
</html>