<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found !!!</title>
</head>
<body>
    <h2>NOT FOUND</h2>
    <h3 class="error" th:text="${error}">Error placeholder</h3>
</body>
</html>