<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li><a href="/users/{id}" class="nav-link">Picture and username</a></li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Joint wallets</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" class="button-style-sidebar">Transactions</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Contact list</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="#" class="button-style-sidebar">Refer a friend</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar" style="background-color: #4a90e2">Overdraft</a></li>-->
    </ul>
</div>
<div class="background-image-overdraft"></div>
<div class="container-with-background-profile">
            <div style="height: 180px"></div>
            <div class="buttons-container"></div>
            <div class="container">
                <div class="registration-form">

                </div>
            </div>
    <div style="height: 1000px"></div>
</div>
</body>
</html>