<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image" />
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image" />
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>


<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Joint wallets</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar">Transactions</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Contact list</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar" style="background-color: #4a90e2">Refer a friend</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>
<div class="background-image-refer"></div>
<div class="container-with-background-profile">
            <div style="height: 180px"></div>
            <div class="buttons-container"></div>
            <div class="container">
                <div class="registration-form">
                    <h2>Refer a friend</h2>
                    <div style="height: 20px"></div>
                    <form th:action="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" th:object="${invitation}" method="post">
<!--                        <label for="email">Friend's Email:</label>-->
                        <input class="placeholder-style" placeholder="Add email" type="text" id="email" th:field="*{email}" />
                        <button type="submit" class="button-style-submit">Invite</button>
                    </form>
                    <div th:if="${error}" class="alert alert-danger">
                        <p th:text="${error}"></p>
                    </div>
                    <div th:if="${success}" class="alert alert-success">
                        <p th:text="${success}"></p>
                    </div>
                    <div style="height: 40px"></div>
                </div>
            </div>
    <div style="height: 800px"></div>
</div>
</body>
</html>