<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Send Referral</title>
</head>
<body>

<h1>Send Referral</h1>

<form th:action="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" th:object="${invitation}" method="post">
  <label for="email">Friend's Email:</label>
  <input type="text" id="email" th:field="*{email}" />

  <button type="submit">Invite</button>
</form>
<div th:if="${error}" class="alert alert-danger">
  <p th:text="${error}"></p>
</div>
<div th:if="${success}" class="alert alert-success">
  <p th:text="${success}"></p>
</div>

</body>
</html>