<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lfs-kojAAAAAAojvoKOVSTGxNfz6ZybeR_PlITs"></script>
    <script>
        grecaptcha.enterprise.ready(function () {
            grecaptcha.enterprise.execute('6Lfs-kojAAAAAAojvoKOVSTGxNfz6ZybeR_PlITs', {action: 'login'})
                .then(function (token) {
                });
        });
    </script>

</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/wallets" class="nav-link">My wallet</a></li>
        <li><a href="/auth/register" class="nav-link" style="color: #2374ff">Register</a></li>
        <li><a href="/auth/login" class="nav-link">Log in</a></li>
    </ul>
</div>
<div class="background-image-register"></div>
<div class="container-with-background">
    <div style="height: 100px"></div>
    <div class="buttons-container"></div>
    <div class="container">
        <div class="registration-form">
            <h2>Register:</h2>
            <form th:fragment="user-form" action="#" th:action="@{${#httpServletRequest.requestURI}}"
                  th:object="${register}" method="post">
                <label th:text="#{user.label.name}">Name</label>
                <br>
                <input type="text" th:field="*{name}">
                <label class="error" th:errors="*{name}">Name error placeholder</label>
                <br><br>

                <div style="height: 15px"></div>

                <label th:text="#{user.label.email}">Email</label>
                <br>
                <input type="text" th:field="*{email}">
                <label class="error" th:errors="*{email}">Email error placeholder</label>
                <br><br>

                <div style="height: 15px"></div>

                <label th:text="#{user.label.phone}">Last name</label>
                <br>
                <input type="text" th:field="*{phone}">
                <label class="error" th:errors="*{phone}">Last name error placeholder</label>
                <br><br>

                <div style="height: 15px"></div>

                <label th:text="#{user.label.username}">Username</label>
                <br>
                <input type="text" th:field="*{username}">
                <label class="error" th:errors="*{username}">Username error placeholder</label>
                <br><br>

                <div style="height: 15px"></div>

                <label th:text="#{user.label.password}">Password</label>
                <br>
                <input type="password" th:field="*{password}">
                <label class="error" th:errors="*{password}">Password error placeholder</label>
                <br><br>

                <div style="height: 15px"></div>

                <label th:text="#{register.label.password-confirmation}">Confirm password</label>
                <br>
                <input type="password" th:field="*{passwordConfirm}">
                <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
                <br><br>

                <div class="form-group">
                    <br/><br/>
                    <br>
                    <label th:text="${recaptchaMessage}" for="recaptcha" class="error"></label>
                    <div class="g-recaptcha" id="recaptcha"
                         data-sitekey="6Ldws3cjAAAAAAdFwbyovN8imhDH-lzdcdUKtjnR"></div>
                    <br/>
                </div>

                <div style="height: 15px"></div>
                <div class="button-container">
                    <input type="submit" class="button-style" value="Finish">
                    <!--                    <a th:href="@{/posts}" class="button-style">Return to home page</a>-->
                </div>
            </form>
        </div>
    </div>
    <div style="height: 500px"></div>
</div>
</body>
</html>