<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lfs-kojAAAAAAojvoKOVSTGxNfz6ZybeR_PlITs"></script>
<!--    <script>-->
<!--        grecaptcha.enterprise.ready(function () {-->
<!--            grecaptcha.enterprise.execute('6Lfs-kojAAAAAAojvoKOVSTGxNfz6ZybeR_PlITs', {action: 'login'})-->
<!--                .then(function (token) {-->
<!--                });-->
<!--        });-->
<!--    </script>-->

</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/wallets" class="nav-link">My wallet</a></li>
        <li><a href="/auth/register" class="nav-link" style="color: #2374ff">Register</a></li>
        <li><a href="/auth/login" class="nav-link">Log in</a></li>
    </ul>
</div>
<div class="background-image-register"></div>
<div class="container-with-background">
    <div style="height: 50px"></div>
    <div class="buttons-container"></div>
    <div class="container">
        <div class="registration-form">
<!--            <h2>Please register</h2>-->
<!--            <form th:fragment="user-form" action="#" th:action="@{${#httpServletRequest.requestURI}}"-->
            <h2>Please register</h2>
            <form th:fragment="user-form" action="#" th:action="${isReferred ? '/auth/referral?token='+referralToken : #httpServletRequest.requestURI}"
                  th:object="${register}" method="post">
                <div class="input-container-register">
                    <input class="placeholder-style" placeholder="Full Name" type="text" th:field="*{name}">
                    <div class="error">
                        <label class="error" th:errors="*{name}">Name error placeholder</label>
                    </div>
                </div>
                <div class="input-container-register">
                    <input class="placeholder-style" placeholder="Email" type="text" th:field="*{email}">
                    <div class="error">
                        <label class="error" th:errors="*{email}">Email error placeholder</label>
                    </div>
                </div>
                <div class="input-container-register">
                    <input class="placeholder-style" placeholder="Phone" type="text" th:field="*{phone}">
                    <div class="error">
                        <label class="error" th:errors="*{phone}">Phone error placeholder</label>
                    </div>
                </div>
                <div class="input-container-register">
                    <input class="placeholder-style" placeholder="Username" type="text" th:field="*{username}">
                    <div class="error">
                        <label class="error" th:errors="*{username}">Username error placeholder</label>
                    </div>
                </div>
                <div class="input-container-register">
                    <input class="placeholder-style" placeholder="Password" type="password" th:field="*{password}">
                    <div class="error">
                        <label class="error" th:errors="*{password}">Password error placeholder</label>
                    </div>
                </div>
                <div class="input-container-register">
                    <input class="placeholder-style" placeholder="Confirm Password" type="password" th:field="*{passwordConfirm}">
                    <div class="error">
                        <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
                    </div>
                </div>
                <div class="form-group">
                    <br/><br/>
                    <br>
                    <label th:text="${recaptchaMessage}" for="recaptcha" ></label>
                    <div class="g-recaptcha" id="recaptcha"
                         data-sitekey="6Ldws3cjAAAAAAdFwbyovN8imhDH-lzdcdUKtjnR"></div>
                    <br/>
                </div>
                <div style="height: 15px"></div>
                <div class="button-container">
                    <input type="submit" class="button-style-submit" value="Finish">
                </div>
            </form>
        </div>
    </div>
    <div style="height: 500px"></div>
</div>
</body>
</html>