<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Registration Successful</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Registration Successful</h1>-->

<!--<p>Thank you for registering, <span th:text="${user.username}"></span>. Please check your inbox for an email confirmation link.</p>-->

<!--</body>-->
<!--</html>-->