<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/wallets" class="nav-link" style="color: #2374ff">My wallet</a></li>
        <li><a href="/auth/register" class="nav-link">Register</a></li>
        <li><a href="/auth/login" class="nav-link">Log in</a></li>
    </ul>
</div>
    <div class="background-image-authentication"></div>
    <div class="container-with-background">
        <div style="height: 200px"></div>
                <div class="container">
                    <div class="registration-form">
                    <h2>To access your wallet please</h2>
                    <form action="#">
                        <div class="button-container">
                        <a th:href="@{/auth/register}" class="button-style">Register</a>
                        <h2>or</h2>
                        <a th:href="@{/auth/login}" class="button-style">Login</a>
                        </div>
                    </form>
                    </div>
                </div>
            <div style="height: 500px"></div>
        </div>
    </div>
</body>
</html>