<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation">
        <li><a href="/home" class="nav-link">Home</a></li>
        <li><a href="/wallets" class="nav-link">My wallet</a></li>
        <li><a href="/auth/register" class="nav-link" style="color: #2374ff">Register</a></li>
        <li><a href="/auth/login" class="nav-link">Log in</a></li>
    </ul>
</div>
<div class="background-image-register"></div>
<div class="container-with-background">
    <div style="height: 200px"></div>
    <div class="buttons-container"></div>
    <div class="container">
        <div class="registration-form">
            <h2>Successful Registration</h2>
            <p>Thank you for registering, <span th:text="${user.username}"></span>.</p>
            <p>Please check your inbox for an email confirmation link.</p>
        </div>
    </div>
    <div style="height: 500px"></div>
</div>
</body>
</html>