<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Transactions</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li><a href="/users/{id}" class="nav-link">Picture and username</a></li>
    </ul>
</div>

<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" class="sidebar-link">Users</a></li>
        <div style="height: 40px"></div>
        <li><a href="#" class="sidebar-link">Transactions</a></li>
    </ul>
</div>

<div class="background-image"></div>

<div class="container-with-background-profile">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div style="height: 200px"></div>

            <br>
                <table class="table-new">
                    <div class="header">
                        <tbody>
                        <tr>
                        <td>
                        <div class="cell">

                            <div class="search-container">
                                <form action="#" th:action="@{${#httpServletRequest.requestURI}}" th:object="${filter}" method="get">
                                    <input type="text" placeholder="Name" th:field="*{name}">
                                    <input type="submit" value="Search">
                                </form>
                                <form action="#" th:action="@{/users}" method="get">
                                    <input type="submit" value="Remove filters"><a th:href="@{/users}"></a>
                                </form>
                            </div>

                            <div style="height: 20px"></div>
                            <div th:if="${users.isEmpty()}">
                                <h2 th:text="#{users.name.empty}">No Users</h2>
                                <div style="height: 360px"></div>
                            </div>
                        </div>
                        </td>
                        <td>
                        <div class="cell">
                            <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                            <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.name.asc}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('sortBy', 'name').replaceQueryParam('sortOrder', 'asc').toUriString()}" class="button">NameA</a></button>
                            <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                            <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.name.desc}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('sortBy', 'name').replaceQueryParam('sortOrder', 'desc').toUriString()}" class="button">NameD</a></button>
                        </div>
                        </td>
                        <td>
                        <div class="cell">
                            <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                            <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.email.asc}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('sortOrder', 'email').replaceQueryParam('sortOrder', 'asc').toUriString()}">EmailA</a></button>
                                <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                                <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.email.desc}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('sortOrder', 'email').replaceQueryParam('sortOrder', 'desc').toUriString()}">EmailD</a></button>
                        </div>
                        </td>
                        <td>
                        <div class="cell">
                            <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                            <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.username.asc}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('sortBy', 'username').replaceQueryParam('sortOrder', 'asc').toUriString()}">PhoneA</a></button>
                                <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                            <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.username.desc}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('sortBy', 'username').replaceQueryParam('sortOrder', 'desc').toUriString()}">PhoneD</a></button>
                        </div>
                        </td>
                            <td>
                                <div class="cell">
                                    <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                                        <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.phone.asc}"
                                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                           th:href="${urlBuilder.replaceQueryParam('sortBy', 'phone').replaceQueryParam('sortOrder', 'asc').toUriString()}">UsernameA</a></button>
                                    <button th:unless="${users.isEmpty()}" class="additional-buttons-sort">
                                        <a href="#" style="text-decoration: none; color: black;" th:text="#{users.label.phone.desc}"
                                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                           th:href="${urlBuilder.replaceQueryParam('sortBy', 'phone').replaceQueryParam('sortOrder', 'desc').toUriString()}">UsernameD</a></button>
                                </div>
                            </td>
                        <td>
                        <div class="cell">
<!--                            <a th:text="#{posts.label.author}"-->
<!--                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"-->
<!--                               th:href="${urlBuilder.replaceQueryParam('sortBy', 'user').toUriString()}">Author</a></div>-->
                        </div>
                        </td>
                        </tr>
                        </tbody>
                    </div>
                </table>

                    <div class="row" th:each="user, rowStatus : ${users}">
                        <table class="post-table-new">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="cell">
                                    <a class="non-bold-link" style="font-size: 18px;" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.username}">User</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell" style="font-size: 14px;" th:text="${user.name}">0</div>
                                </td>
                                <td>
                                    <div class="cell" style="font-size: 14px;" th:text="${user.email}">0</div>
                                </td>
                                <td>
                                    <div class="cell" style="font-size: 14px;" th:text="${user.phone}">0</div>
                                </td>
<!--                                <td>-->
<!--                                    <div class="cell" style="font-size: 14px;" th:text="${#temporals.format(post.getTimestamp(), 'dd-MM-yyyy')}">10-10-2023</div>-->
<!--&lt;!&ndash;                        <div class="cell" th:text="${post.comments.size()}">10-10-2023</div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="cell" th:text="${post.user.username}">User</div>&ndash;&gt;-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <div th:unless="${post.user.username.equals('Default User')}" class="cell">-->
<!--                                    <a class="non-bold-link" href="#" th:href="@{/users/{id}/(id=${post.getUser().getId()})}">-->

<!--                                        <span th:text="${post.user.username}"></span>-->
<!--                                    </a>-->
<!--                                    </div>-->
<!--                                    <div th:if="${post.user.username.equals('Default User')}" class="cell">-->
<!--                                        <span th:text="${post.user.username}"></span>-->

<!--                                    </div>-->
                                </td>
                            </tr>
                    </tbody>
            </table>
                        <table th:unless="${users.isEmpty()}"></table>
            <div style="height: 1px"></div>
                    </div>
            </div>
        </div>
    <div style="height: 500px"></div>
    </div>
</div>
</body>
</html>














