<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
</head>
<body>
<h1>Transactions</h1>

<table>
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Status</th>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td><a th:href="@{/users/{id}/transactions/{transactionId}(id=${loggedInUser.getId()}, transactionId=${transaction.id})}"
               th:text="${transaction.date}"></a></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.sender.number}"></td>
        <td th:text="${transaction.recipient.number}"></td>
        <td th:text="${transaction.status}"></td>
    </tr>
</table>

<br>

<form th:action="@{/users/{id}/transactions/new(id=*{loggedInUser.id})}" method="get">
    <button type="submit">Initiate New Transaction</button>
</form>
</body>
</html>