<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Transactions</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image"/>
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image"/>
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}"
               th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>

<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My
            Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar"
               style="background-color: #4a90e2">Transactions</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a
            friend</a></li>
    </ul>
</div>

<div class="background-image-transactions"></div>

<div class="container-with-background-profile">

    <div style="height: 110px"></div>

<!--    <table class="table-new">-->
<!--        <div class="header">-->

                    <div class="button-container">
                        <form th:action="@{/users/{id}/transactions/new(id=*{loggedInUser.id})}" method="get">
                            <button class="button-style-submit" style="width: 5.5cm;" type="submit">New Transaction</button>
                        </form>
                    </div>

            <div style="height: 40px"></div>

<!--        </div>-->
<!--    </table>-->

    <table class="post-table-new">
        <thead>
        <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="transaction : ${transactions}">
            <td>
                <div class="rounded-cell">
                    <a class="non-bold-link" style="margin-left: 0.5cm"
                       th:href="@{/users/{id}/transactions/{transactionId}(id=${loggedInUser.getId()},
               transactionId=${transaction.id})}" th:text="${transaction.date}">User</a>
                </div>
            </td>
            <td>
                <div class="rounded-cell" style="margin-left: 0.5cm">
                    <span th:if="${transaction.sender.creator.id == loggedInUser.id}">You</span>
                    <span th:unless="${transaction.sender.creator.id == loggedInUser.id}" th:text="${transaction.sender.creator.username}"></span>
                </div>
            </td>
            <td>
                <div class="rounded-cell" style="margin-left: 0.5cm">
                    <span th:if="${transaction.recipient.creator.id == loggedInUser.id}">You</span>
                    <span th:unless="${transaction.recipient.creator.id == loggedInUser.id}" th:text="${transaction.recipient.creator.username}"></span>
                </div>
            </td>
            <td>
                <div class="rounded-cell" style="margin-left: 0.5cm">
                    <span th:if="${transaction.type.toString() == 'Outgoing'}">-</span>
                    <span th:if="${transaction.type.toString() == 'Incoming'}">+</span>
                    <span th:text="${transaction.amount}">0</span>
                </div>
            </td>
            <td>
                <div class="rounded-cell" style="margin-left: 0.5cm" th:text="${transaction.status}">0</div>
            </td>

        </tr>
        </tbody>
    </table>
    <table th:unless="${transactions.isEmpty()}"></table>
    <div style="height: 1000px"></div>
</div>
</br>
</div>

</body>
</html>