<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction details</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image"/>
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image"/>
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}"
               th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>

<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Joint wallets</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar"
               style="background-color: #4a90e2">Transactions</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Contact list</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a
            friend</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>

<div class="background-image-transactions"></div>
<div class="container-with-background-profile">
<!--    <div style="height: 65px"></div>-->

    <div class="container">
        <div class="registration-form-card">
            <h2>Transaction Details</h2>
            <h3>Date: <span th:text="${transaction.date}"></span></h3>

            <th:block th:if="${transaction.type.toString() == 'Incoming'}">
                <h3>From: <span th:text="${transaction.sender.creator.username}"></span></h3>
            </th:block>

            <th:block th:if="${transaction.type.toString() == 'Outgoing'}">
                <h3>To: <span th:text="${transaction.recipient.creator.username}"></span></h3>
            </th:block>

            <h3>
                Amount:
                <span th:text="${transaction.type.toString() == 'Incoming' ? '+' + transaction.amount : '-' + transaction.amount}"></span>
                BGN
            </h3>

            <h3>Status: <span th:text="${transaction.status}"></span></h3>

            <th:block
                    th:if="${transaction.status.toString() == 'Pending' and transaction.type.toString() == 'Outgoing' and transaction.amount < 1000}">
                <form th:action="@{/users/{id}/transactions/{transactionId}/confirm(id=${loggedInUser.getId()}, transactionId=${transaction.id})}"
                      th:object="${transaction}" method="post">
                    <div class="button-container">
                        <button class="button-style-submit" type="submit">Confirm</button>
                    </div>
                </form>
                <div style="height: 30px"></div>
                <form th:action="@{/users/{id}/transactions/{transactionId}/cancel(id=${loggedInUser.getId()}, transactionId=${transaction.id})}"
                      th:object="${transaction}" method="get">
                    <div class="button-container">
                        <button class="button-style-submit" style="background-color: rgba(231, 7, 74, 0.8);"
                                type="submit">Cancel
                        </button>
                    </div>
                </form>
                <div style="height: 30px"></div>
            </th:block>

            <th:block
                    th:if="${transaction.type.toString() == 'Outgoing' and transaction.status.toString() == 'Pending' and transaction.amount > 1000}">
                <form th:action="@{/users/{id}/transactions/verify/(id=${loggedInUser.getId()})}"
                      th:object="${transaction}" method="post">
                    <input type="text" class="placeholder-style" id="verificationCode" name="verificationCode"
                           placeholder="Enter verification code"/>
                    <div style="height: 30px"></div>
                    <div class="button-container">
                        <button class="button-style-submit" type="submit">Verify</button>
<!--                    </div>-->
                </form>
                <div style="height: 30px"></div>

                <form th:action="@{/users/{id}/transactions/{transactionId}/cancel(id=${loggedInUser.getId()}, transactionId=${transaction.id})}"
                      th:object="${transaction}" method="get">
<!--                    <div class="button-container">-->
                        <button class="button-style-submit" style="background-color: rgba(231, 7, 74, 0.8);"
                                type="submit">Cancel
                        </button>
<!--                    </div>-->
                    <div th:if="${error}" class="error">
                        <p th:text="${error}"></p>
                    </div>

                </form>
                <div style="height: 30px"></div>

            </th:block>
            <a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style">Back</a>
            <div style="height: 30px"></div>
        </div>
    </div>
    <div style="height: 1000px"></div>
</div>
</div>
</body>
</html>