<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image" />
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image" />
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar" style="background-color: #4a90e2">My Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar">Wallets</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Joint wallets</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" class="button-style-sidebar">Transactions</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Contact list</a></li>-->
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="#" class="button-style-sidebar">Refer a friend</a></li>
<!--        <div style="height: 35px"></div>-->
<!--        <li><a href="#" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>
<div class="background-image-user-profile"></div>
<div class="container-with-background-profile">
    <div style="height: 180px"></div>
    <div class="buttons-container"></div>
    <div class="container">
        <form th:fragment="user-form" action="#" th:action="@{${#httpServletRequest.requestURI}}" th:object="${update}"
              method="post">

            <label th:text="#{user.label.email}">Email</label>
            <br>
            <input type="text" th:field="*{email}">
            <label class="error" th:errors="*{email}">Email error placeholder</label>
            <br><br>

            <label th:text="#{user.label.phone}">Phone</label>
            <br>
            <input type="text" th:field="*{phone}">
            <label class="error" th:errors="*{phone}">Phone error placeholder</label>
            <br><br>

            <label th:text="#{user.label.password}">New Password</label>
            <br>
            <input type="password" th:field="*{password}">
            <label class="error" th:errors="*{password}">Password error placeholder</label>
            <br><br>

            <label th:text="#{register.label.password-confirmation}">Confirm new password</label>
            <br>
            <input type="password" th:field="*{passwordConfirm}">
            <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
            <br><br>

            <input type="submit" value="Finish">
            <a th:href="@{/users/{id}/(id=${id})}" class="return-button">Back</a>
        </form>
    </div>
    <div style="height: 1000px"></div>
</div>
</div>
</body>
</html>