<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image" />
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}" th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image" />
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}" th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>

<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:if="${isProfileOwner}" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}"
               class="button-style-sidebar" style="background-color: #4a90e2">My Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" th:if="${isProfileOwner}" class="button-style-sidebar">Wallets</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Joint wallets</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" th:if="${isProfileOwner}" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" th:if="${isProfileOwner}" class="button-style-sidebar">Transactions</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Contact list</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" th:if="${isProfileOwner}" class="button-style-sidebar">Refer a friend</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" th:if="${isProfileOwner}" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>

<div class="background-image-user-profile"></div>
<div class="container-with-background-profile">
    <div style="margin-top: -50px"></div>
    <div class="buttons-container"></div>
    <div class="container">
        <div class="registration-form">
            <h2 th:text="${user.getUsername()}">Username</h2>
            <h3>Name >>>>> <span th:text="${user.getName()}">Name</span></h3>
            <!--                        <br><br>-->
            <h3>Email >>>>> <span th:text="${user.getEmail()}">Email</span></h3>
            <!--                        <br><br>-->
            <h3>Phone >>>>> <span th:text="${user.getPhone()}">Phone</span></h3>
            <!--                        <br><br>-->
            <div style="height: 20px"></div>
            <div class="button-container">
                <a class="button-style" href="#" th:if="${isProfileOwner}"
                   th:href="@{/users/{id}/update/(id=${user.getId()})}">Update</a>
                <a class="button-style" style="background-color: rgba(231, 7, 74, 0.8);" href="#" th:if="${isAdmin}"
                   th:unless="${isBlocked}" th:href="@{/users/{id}/block/(id=${user.getId()})}">Block</a>
                <a class="button-style" style="background-color: rgba(44, 194, 68, 0.8);" href="#" th:if="${isAdmin}"
                   th:unless="${!isBlocked}" th:href="@{/users/{id}/unblock/(id=${user.getId()})}">Unblock</a>
                <!--                        <a class="return-button" href="#" th:if="${isAdmin}" th:href="@{/users/{id}/delete/(id=${user.getId()})}">Remove account</a>-->
                <a class="button-style" href="#" th:if="${isAdmin}" th:href="@{/users}">Back</a>
            </div>
            <br>

            <div style="height: 40px"></div>
            <!--                    <h2>Upload Picture</h2>-->
            <div class="button-container">
                <form th:if="${isProfileOwner}" th:action="@{'/users/' + ${user.id} + '/image'}" th:object="${user}"
                      method="post" enctype="multipart/form-data">
                    <label for="imageType">Picture type:</label>
                    <select id="imageType" name="type">
                        <option value="VERIFICATION">Verification</option>
                        <option value="PROFILE">Profile</option>
                    </select>

                    <input class="file-container" type="file" name="file" accept="image/*"/>

                    <div style="height: 30px"></div>
                    <input th:if="${isProfileOwner}" class="upload-btn button-style-submit" type="submit"
                           value="Upload"/>
                </form>
        </div>
    </div>
    <div style="height: 1000px"></div>
    </div>
</div>
</body>
</html>