<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet">
    <link href="../static/background.css" th:href="@{/background.css}" rel="stylesheet">
    <link href="../static/upper_navbar.css" th:href="@{/upper_navbar.css}" rel="stylesheet">
    <link href="../static/sidebar.css" th:href="@{/sidebar.css}" rel="stylesheet">
    <!--    <style>-->
    <!--        /* Add CSS styles for the small image */-->
    <!--        .small-image {-->
    <!--            position: absolute;-->
    <!--            top: 10px; /* Adjust the top position as needed */-->
    <!--            right: 10px; /* Adjust the right position as needed */-->
    <!--            width: 32px; /* Adjust the width as needed */-->
    <!--            height: 32px; /* Adjust the height as needed */-->
    <!--            border-radius: 50%; /* Optionally, add a circular border */-->
    <!--        }-->
    <!--    </style>-->
</head>
<body>
<div class="navbar">
    <a class="logo" href="/home"></a>
    <ul class="navigation-user-profile">
        <li th:if="${isAuthenticated}">
            <img th:if="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="${loggedInUser.getImage().getImageUrl()}" alt="Image" class="small-image"/>
            <img th:unless="${loggedInUser.getImage() != null && loggedInUser.getImage().isBlocked()==false}"
                 th:src="@{/images/defaultLogo.png}" alt="Image" class="small-image"/>
            <a class="profile-name-style" th:href="@{/users/{id}(id=${loggedInUser.getId()})}"
               th:text="${loggedInUser.getName()}">user</a>
        </li>
    </ul>
</div>
<div class="sidebar">
    <ul class="sidebar-navigation">
        <li><a href="#" th:href="@{/auth/logout}" class="navigation-admin-button" style="width: 5.5cm">Log out</a></li>
        <div style="height: 35px"></div>
        <li><a href="/home" class="button-style-sidebar">Home</a></li>
        <div style="height: 35px"></div>
        <li><a href="#" th:href="@{/users/{id}/(id=${loggedInUser.getId()})}" class="button-style-sidebar">My
            Profile</a></li>
        <div style="height: 35px"></div>
        <li><a href="/wallets" class="button-style-sidebar" style="background-color: #4a90e2">Wallets</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Joint wallets</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Saving wallets</a></li>-->
        <div style="height: 35px"></div>
        <li><a href="/cards" class="button-style-sidebar">Cards</a></li>
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/transactions(id=${loggedInUser.getId()})}" class="button-style-sidebar">Transactions</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Contact list</a></li>-->
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Spending's</a></li>-->
        <div style="height: 35px"></div>
        <li><a th:href="@{/users/{id}/referrals(id=${loggedInUser.getId()})}" class="button-style-sidebar">Refer a friend</a></li>
        <!--        <div style="height: 35px"></div>-->
        <!--        <li><a href="#" class="button-style-sidebar">Overdraft</a></li>-->
    </ul>
</div>

<div class="background-image-wallets"></div>
<div class="container-with-background-profile">
    <div style="height: 5px"></div>
    <div class="container-card">
        <div class="registration-form-card">
            <div class="cards-details">
                <h3> Wallet number >>>>> <span th:text="${wallet.getNumber()}">Number</span></h3>
                <h3> Amount >>>>> <span th:text="${wallet.getBalance()}"> Amount </span></h3>
                <h3> Currency >>>>> <span th:text="${wallet.getCurrency()}"> Type </span></h3>
                <h3> Holders count >>>>> <span th:text="${wallet.getHolders().size()}"></span></h3>
                <h3> Holders: </h3>
                <ul>
                    <li th:each="holder : ${wallet.getHolders()}" th:text="${holder.name}"></li>
                </ul>
            </div>
            <div style="height: 30px"></div>
            <div class="button-container">
                <form th:action="@{/wallets/{id}/AddUser(id=${id})}" method="post">
                    <input class="placeholder-style" type="text" name="searchTerm" placeholder="username,phone or email">
                    <div style="height: 20px"></div>
                    <button type="submit" class="button-style-submit" th:text="#{wallets.userToAdd}"></button>
                </form>
            </div>
            <div style="height: 40px"></div>
            <div class="button-container">
                <form th:action="@{/wallets/{id}/RemoveUser(id=${id})}" method="post">
                    <select class="placeholder-style" name="username">
                        <option  value="" disabled selected>Select username</option>
                        <option th:each="user : ${wallet.getHolders()}"
                                th:unless="${wallet.getCreator().getUsername().equals(user.getUsername())}"
                                th:value="${user.getUsername()}">
                            <span th:text="${user.username}"></span>
                        </option>
                    </select>
                    <div style="height: 20px"></div>
                    <button type="submit" class="button-style-submit" th:text="#{wallets.userToRemove}"></button>
                </form>
            </div>
            <div style="height: 40px"></div>
            <div class="button-container">
                <form th:action="@{/wallets/{id}/currency(id=${id})}" method="get">
                    <label for="currency">Select Currency:</label>
                    <select class="placeholder-style" name="type" id="currency">
                        <option value="BGN">BGN</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                    <div style="height: 20px"></div>
                    <button type="submit" class="button-style-submit">Select</button>
                </form>
            </div>
            <div style="height: 60px"></div>
            <div class="button-container">
                <br>
                <a class="button-style" style="background-color: rgba(231, 7, 74, 0.8);" href="#"
                   th:if="${wallet.getCreator().getUsername().equals(loggedInUser.getUsername())}"
                   th:unless="${wallet.isBlocked()}" th:href="@{/wallets/{id}/status/(id=${wallet.getWallet_id()})}">Block</a>
                <a class="button-style" style="background-color: rgba(44, 194, 68, 0.8);" href="#"
                   th:if="${wallet.getCreator().getUsername().equals(loggedInUser.getUsername())}"
                   th:unless="${!wallet.isBlocked()}" th:href="@{/wallets/{id}/status/(id=${wallet.getWallet_id()})}">Unblock</a>
                <br>
                <a class="navigation-admin-button" href="#"
                   th:if="${wallet.getCreator().getUsername().equals(loggedInUser.getUsername())}"
                   th:href="@{/wallets/{id}/delete/(id=${wallet.getWallet_id()})}">Delete</a>
                <br>
                <a th:href="@{/wallets}" class="button-style">Back</a>
            </div>
            <div style="height: 40px"></div>
        </div>
    </div>
    <div style="height: 800px"></div>
</div>
</body>
</html>